bin/
obj/
packages/
.localNugetRepository/
logs/
*.user
.vs/
.vscode/
coverage*.cobertura.xml
!vendor/*
.idea/
.dcignore
buildtools/*
Artifacts/
AllDependencies/
PrivateAssets/
*.orig
*.rest
InternalTrace*
/source/Relativity.Transfer.SDK.Client/Properties/launchSettings.json