<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>

		<add key="ClientName" value="Relativity.Transfer.SDK.Sample" />

		<!-- URL of your RelativityOne environment i.e. https://contoso.relativity.one -->
		<!-- Value shouldn't have any path, query, fragments or trailing slash - just schema with host. -->
		<add key="RelativityOneInstanceUrl" value="" />

		<!-- UNC path to your RelativityOne fileshare *without* \Files\ suffix (can't have trailing slash. -->
		<!-- This is taken from RelativityOne -> Servers (of 'Fileshare' type) tab. -->
		<add key="RelativityOneFileshareRoot" value="" />

		<!-- The location where the files are to be transferred relative to the root of the fileshare.
			 You can modify this value and observe the transfer result in for example RelativityOne Staging Explorer).
			 The path has to be rooted in one of the core folders that reside on fileshare (like Files, Temp, ARM, etc.) -->
		<add key="FileshareRelativeDestinationPath" value="Temp\TransferSDK-Sample" />

		<add key="ClientLogin" value="" />
		<add key="ClientOAuth2Id" value="" />
		<add key="ClientSecret" value="" />
	</appSettings>
</configuration>